---
---

@import 'main';

/* append your custom style below */


.dynamic-title {
  text-transform: lowercase;
}
.site-title {
  text-transform: lowercase;
}
.site-subtitle {
  text-transform: lowercase;
}
.nav-link {
  text-transform: lowercase;
}

#breadcrumb {
  text-transform: lowercase;
}

search {
  display: none;
}

a {
  color: #B7B7B7;

  &:hover {
    color: white;
  }
}